.card:hover{
	transition: 0.5s ease-in-out;
	transform:scale(1.05);
	-webkit-box-shadow: 2px 1px 39px 1px rgba(0,0,0,0.6);
	-moz-box-shadow: 2px 1px 39px 1px rgba(0,0,0,0.6);
	box-shadow: 2px 1px 39px 1px rgba(0,0,0,0.6);
	z-index: 1;
}
